@import "tailwindcss";

:root {
  font-family: Geist, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

@layer base {
  h2 {
    @apply text-light text-xl font-medium;
  }

  p,
  span,
  li {
    @apply text-light text-base font-thin;
  }
}

@theme {
  --color-dark: #0c0c0c;
  --color-light: #eaeaea;
  --color-accent: #ff4d4d;
}
